{
  "presets": [
    ["env", { "modules": false }],
    "babel-preset-power-assert"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-vue-jsx",
    "istanbul",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "~src/less/theme"
      }
    ]]
  ]
}
